*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
dist
assets/**/*.css
build
lib
coverage
es
yarn.lock
package-lock.json
pnpm-lock.yaml
.storybook
.doc

# dumi
.dumi/tmp
.dumi/tmp-production
.dumi/tmp-test
.env.local
src/.umi

bun.lockb