@prefixCls: rc-collapse;

.@{prefixCls} {
  &-content {
    height: 0;
    opacity: 0;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    overflow: hidden;
    > p, > div {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

@import "index/ant";
